services:
  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: "YourPassword123!"
      MYSQL_DATABASE: mydatabase
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql

volumes:
  mysql-data:
